<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learn.lhb.my.shop.backend.mapper.TbUserMapper">
    <resultMap id="tbUserMap" type="learn.lhb.my.shop.domain.rbac.TbUser">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
    </resultMap>
    <!-- 可重复引用的 -->
    <sql id="tbUserColumns">
        myshop.tb_user.user_id,
        myshop.tb_user.username,
        myshop.tb_user.email,
        myshop.tb_user.phone,
        myshop.tb_user.created,
        myshop.tb_user.updated
    </sql>
    <!-- 查询全部用户信息 -->
    <select id="selectAll" resultType="java.util.HashMap">
        SELECT
            <include refid="tbUserColumns" />
        FROM
            myshop.tb_user
        ORDER BY ${sortName} ${sortType}
    </select>

    <!-- 查询全部用户信息的返回结果数量 -->
    <select id="getTotalAll" resultType="Integer">
        SELECT COUNT(*) FROM myshop.tb_user
    </select>

    <!-- 根据条件查询全部用户信息 -->
    <select id="queryAll" resultType="java.util.HashMap">
        SELECT
            <include refid="tbUserColumns" />
        FROM
            myshop.tb_user
        <where>
            <if test="tbUser.username != null and tbUser.username != ''">
                AND username LIKE CONCAT ('%',#{tbUser.username},'%')
            </if>
            <if test="tbUser.email != null and tbUser.email != ''">
                AND email LIKE CONCAT ('%',#{tbUser.email},'%')
            </if>
            <if test="tbUser.phone != null and tbUser.phone != ''">
                AND phone LIKE CONCAT ('%',#{tbUser.phone},'%')
            </if>
        </where>
        ORDER BY ${pageParams.sortName} ${pageParams.sortType}
    </select>

    <!-- 根据条件查询全部用户信息的返回结果数量 -->
    <select id="queryTotalAll" resultType="Integer">
        SELECT COUNT(*) FROM myshop.tb_user
        <where>
            <if test="tbUser.username != null and tbUser.username != ''">
                AND username LIKE CONCAT ('%',#{tbUser.username},'%')
            </if>
            <if test="tbUser.email != null and tbUser.email != ''">
                AND email LIKE CONCAT ('%',#{tbUser.email},'%')
            </if>
            <if test="tbUser.phone != null and tbUser.phone != ''">
                AND phone LIKE CONCAT ('%',#{tbUser.phone},'%')
            </if>
        </where>
    </select>
</mapper>