<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learn.lhb.my.shop.backend.mapper.TbUserMapper">
    <resultMap id="tbUserMap" type="learn.lhb.my.shop.domain.rbac.TbUser">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
    </resultMap>
    <!-- 可重复引用的 -->
    <sql id="tbUserColumns">
        myshop.tb_user.user_id,
        myshop.tb_user.username,
        myshop.tb_user.email,
        myshop.tb_user.phone,
        myshop.tb_user.created,
        myshop.tb_user.updated
    </sql>
    <!-- 查询全部用户信息 -->
    <select id="selectAll" resultType="java.util.HashMap">
        SELECT
            <include refid="tbUserColumns" />
        FROM
            myshop.tb_user
        ORDER BY ${sortName} ${sortType}
    </select>

    <!-- 查询全部用户信息的返回结果数量 -->
    <select id="getTotalAll" resultType="Integer">
        SELECT COUNT(*) FROM myshop.tb_user
    </select>

    <!-- 根据条件查询全部用户信息 -->
    <select id="queryAll" resultType="java.util.HashMap">
        SELECT
            <include refid="tbUserColumns" />
        FROM
            myshop.tb_user
        <where>
            <if test="tbUser.username != null and tbUser.username != ''">
                AND username LIKE CONCAT ('%',#{tbUser.username},'%')
            </if>
            <if test="tbUser.email != null and tbUser.email != ''">
                AND email LIKE CONCAT ('%',#{tbUser.email},'%')
            </if>
            <if test="tbUser.phone != null and tbUser.phone != ''">
                AND phone LIKE CONCAT ('%',#{tbUser.phone},'%')
            </if>
        </where>
        ORDER BY ${pageParams.sortName} ${pageParams.sortType}
    </select>

    <!-- 根据条件查询全部用户信息的返回结果数量 -->
    <select id="queryTotalAll" resultType="Integer">
        SELECT COUNT(*) FROM myshop.tb_user
        <where>
            <if test="tbUser.username != null and tbUser.username != ''">
                AND username LIKE CONCAT ('%',#{tbUser.username},'%')
            </if>
            <if test="tbUser.email != null and tbUser.email != ''">
                AND email LIKE CONCAT ('%',#{tbUser.email},'%')
            </if>
            <if test="tbUser.phone != null and tbUser.phone != ''">
                AND phone LIKE CONCAT ('%',#{tbUser.phone},'%')
            </if>
        </where>
    </select>

    <!-- 根据ID查询单个用户信息 -->
    <select id="selectOne" resultType="TbUser" resultMap="tbUserMap">
        SELECT
            <include refid="tbUserColumns"/>
        FROM tb_user
        WHERE
           user_id = ${userId}
    </select>

    <!-- 校验用户名是否重复 -->
    <select id="findUsername" resultType="TbUser" parameterType="String">
        SELECT myshop.tb_user.username FROM myshop.tb_user WHERE username = #{username}
    </select>

    <!-- 校验邮箱是否重复 -->
    <select id="findEmail" resultType="TbUser" parameterType="String">
        SELECT myshop.tb_user.email FROM myshop.tb_user WHERE email = #{username}
    </select>

    <!-- 校验电话号码是否重复 -->
    <select id="findPhone" resultType="TbUser" parameterType="String">
        SELECT myshop.tb_user.phone FROM myshop.tb_user WHERE phone = #{username}
    </select>

    <!-- 添加用户 -->
    <insert id="insert">
        INSERT INTO myshop.tb_user
            (username, password, phone, email, created, updated)
        VALUES
            (#{tbUser.username},#{tbUser.password},#{tbUser.phone},#{tbUser.email},#{tbUser.created},#{tbUser.updated})
    </insert>

    <!-- 修改用户 -->
    <update id="update">
        UPDATE myshop.tb_user SET
            username = #{tbUser.username},
            email = #{tbUser.email},
            phone = #{tbUser.phone},
            updated = #{tbUser.updated}
        WHERE myshop.tb_user.user_id = ${user_id}
    </update>

    <!-- 删除用户 -->
    <delete id="delete">
        DELETE FROM myshop.tb_user WHERE tb_user.user_id = ${user_id}
    </delete>

    <!--  修改时，校验用户名除了修改之前的用户名码外，其余是否重复 -->
    <select id="findUsernameNotId" resultType="TbUser">
        SELECT username FROM tb_user
        WHERE username = #{username} AND user_id &lt;&gt; ${userId}
    </select>

    <!--  修改时，校验用户名除了修改之前的手机号码外，其余是否重复 -->
    <select id="findPhoneNotId" resultType="TbUser">
        SELECT phone FROM tb_user
        WHERE phone = #{phone} AND user_id &lt;&gt; ${userId}
    </select>

    <!--  修改时，校验用户名除了修改之前的邮箱码外，其余是否重复 -->
    <select id="findEmailNotId" resultType="TbUser">
        SELECT email FROM tb_user
        WHERE email = #{email} AND user_id &lt;&gt; ${userId}
    </select>

    <!-- 批量删除 -->
    <select id="deleteMulti">
        DELETE FROM tb_user
        WHERE user_id IN
        <foreach collection="userIds" open="(" close=")" separator="," item="user_id">
            #{user_id}
        </foreach>
    </select>
</mapper>